name: Build

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.6, 3.7, 3.8]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
      - name: Typecheck
        run: |
          pip install mypy==0.770
          mypy .
      - name: Unit test
        run: |
          pip install pytest pytest-cov
          # test against local non-installed version of library
          python -m pytest --cov=flutes/ --cov-report=xml
      - name: Codecov
        uses: codecov/codecov-action@v1.0.5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          file: ./coverage.xml
          flags: unittests
          name: codecov-umbrella
          yml: ./codecov.yml
          fail_ci_if_error: true

  docs:
    runs-on: ubuntu-latest
    needs: build
    strategy:
      matrix:
        python-version: [3.7]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install --progress-bar off -r requirements.txt
          # Install library required for spellcheck
          sudo apt-get install libenchant1c2a hunspell-en-us
          pip install --progress-bar off -r docs/requirements.txt
      - name: Build docs
        run: |
          cd docs
          # Build documents
          sphinx-build -W -b html -d _build/doctrees . _build/html
          # Check for typos
          sphinx-build -W -b spelling -d _build/doctrees . _build/spelling

  deploy:
    runs-on: ubuntu-latest
    needs: docs
    if: github.event_name == 'push' && startsWith(github.event.ref, 'refs/tags')
    strategy:
      matrix:
        python-version: [3.7]

    steps:
      - uses: actions/checkout@v2
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Build dists
        run: |
          pip install wheel
          python setup.py sdist
          python setup.py bdist_wheel
      - name: Publish to PyPI
        run: |
          pip install --upgrade twine
          TWINE_USERNAME="__token__" \
          TWINE_PASSWORD="${{ secrets.pypi_password }}" \
            exec twine upload --skip-existing dist/*

  test-deploy:
    runs-on: ubuntu-latest
    needs: deploy
    strategy:
      matrix:
        python-version: [3.7]

    steps:
      - uses: actions/checkout@v2
        with:
          path: "repo"
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install PyPI package
        run: |
          pip install flutes
      - name: Unit test with PyPI package
        run: |
          pip install pytest
          python -m pytest repo/
